$txtBlue: hsl(238, 29%, 16%);
$txtRed: hsl(14, 88%, 65%);
$txtGray: hsl(240, 6%, 50%);
$txtDarkGray: hsl(237, 12%, 33%);

$bgViolet: hsl(273, 75%, 66%);
$bgBlue: hsl(240, 73%, 65%);

$divider: hsl(240, 5%, 91%);